*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem 1fr 15rem;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh;
    font-family: 'Imbue', serif;
    font-size: x-large;

}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B7D7D;
    width: 100%;
}

ul{
    list-style-type: none;

}

 header a{
    text-decoration: none;
    color: #ffffff;

}

nav ul li{
    display: inline-block;
    padding: 0 25px;

}
/* hover effeckt*/
nav a:hover{
    transition: all 0.3s ease-in-out 0s;
    color: black;
}
/* logo style*/
.logo{
    position: relative;
    border: 1px solid #FFFFFF;
}
.logo h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}



main{
    grid-area: main;
    background-color: #ECDCC9;

}

footer{
    grid-area: footer;
    background-color: #CCF5AC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul h1{
    font-size: 45px;
}
@media screen and (max-width: 750px){
    header{
        flex-direction: column;
        flex-wrap: wrap;
    }
}